.body{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.select{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 45vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    background-color:hwb(0 42% 41% / 0.595) ;
    margin: 2% auto;
}

.labelSelect{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2%;
    padding: 1%;
    font-size: 2.4rem;
}
#paises{
    font-family: 'Courier New', Courier, monospace;
    background-color:hwb(0 20% 24% / 0.598) ;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    height: 10vh;
    width: 15vw;
    padding: 1%;
    margin-right: 10%;
    font-size: 1.2rem;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    height: 20vh;
    width: 45vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    background-color:hwb(0 42% 41% / 0.595) ;
    margin: 2% auto;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2%;
    padding:0.5em;
    font-size: 2.4rem;
}
#input{
    height: 5vh;
    width: 10vw;
    margin-right: 1%;
}
.botones{
    display: flex;
    justify-content: space-between;
}
#buttonImp, #botonAgregar, #botonReiniciar{
    font-family: 'Courier New', Courier, monospace;
    background-color:hwb(0 20% 24% / 0.598) ;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    height: 7vh;
    width: 10vw;
    padding: 1%;
    margin: 1%;
    font-size: 1.2rem;
    cursor: pointer;
}
#botonReiniciar{
    padding-top: 0.5%;
}

li{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1% auto;
    padding: 2.3% 1.5% 1.5% 1.5%;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 7vh;
    width: 55vw;
    list-style: none;
    background-color:hwb(0 5% 22% / 0.437) ;
    border-radius: 45px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.765);

}

.borrarBtn{
    cursor: pointer;
    position: absolute;
    font-size: large;
    top: 0.69rem;
    right: 1.1rem;
    background-color: hwb(0 5% 22% / 0) ;
    border-color: rgba(0, 0, 0, 0);
}

#darkMode{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hwb(0 20% 24% / 0.598) ;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000;
    height: 4vw;
    width: 6vw;
    margin: 1%;
    cursor: pointer;
}


.bodyColor{
    background-color: rgba(54, 41, 154, 0.827);
}
